<div class='frame' style="border-style: inset;width: 600px;border-color: black;">
    <div class='qr_code' style="display: flex;justify-content: center;">
        <img src="<%= @code&.to_data_url %>" />
    </div>
    <div class='cover' style="display: flex;justify-content: center;">
        <img src="<%= @url %>" style="width: 330px;" />
    </div>
    <%= button_to "Export",  qr_codes_export_path, method: :get, params: {code: @code, url: @url} %>
</div>